<form>
        <div class="display-4 my-2 font-weight-bold"><img ng-src="{{$ctrl.padlockImage}}" width="96"/>Access Control</div>
    
        <div class="row bg-light my-4 shadow border rounded">
            <div class="col-md-6 p-2">
                    <p class="lead font-weight-bold"><img ng-src="{{$ctrl.avatarImage}}" width="32"/> Admin Group User</p>
                    <select class="form-control text-lg">
                        <option>
                              (Admin)  mothibe.t@cft-za.org.za
                        </option>
                    </select>
                    <br>
                    <p class="lead font-weight-bold"><img ng-src="{{$ctrl.pincodeImage}}" width="16"/> Secure PIN</p>
                    <input type="password" ng-model="$ctrl.pin" placeholder="PIN" class="form-control"/>
                    <br>
                    <p class="lead font-weight-bold">What is 5+3 ?             <span class="alert alert-success border rounded" ng-if="$ctrl.capture === 8"><img src="images/check-mark-icon.png" width="64"></span>
                    </p>
                    <input type="number" ng-model="$ctrl.capture" class="form-control"/>
                    <br/>
                    <button class="btn btn-lg btn-danger my-2" ng-click="$ctrl.revokeAccess();"><img ng-src="images/lockpad.png" width="32"/> Revoke Access</button>
    
        <button class="btn btn-lg btn-success my-2" ng-click="$ctrl.getPermission();"><img ng-src="images/key.png" width="32"/> Authorize</button>
   
                </div>
            <div class="col-md-6 p-4 text-muted text-left">
                    <img ng-src="{{$ctrl.house}}" width="200"/>
                    <p class="text-muted text-left">
                        Community Functionary Team
                        <br>
                        <b>Duties you can perform:</b>
                        <ul>
                            <li>Add community member to the database.</li>
                            <li>Check existing community member in the database to avoid duplicates.</li>
                            <li>Query on existing status of the house/stand/property deed transfers or sales</li>
                            <li>You can manage Estates/Town planning.</li>
                            <li>Send members SMS notifications.</li>
                        </ul>
                    </p>
           </div>
        </div>
   </form>