<div class="container p-3  shadow-sm border">
    <form>
        <div class="display-4 font-weight-bold">Manage Member</div>
        <p class="text-dark lead ">
            Register new community member to member housing database.
        </p>
        <div class="row p-1">
            <div class="col-md-6  p-1">
                    <div class="text-dark  p-1">
                            <p class="lead text-dark">RSA ID Number </p>
                            <input type="text" class="form-control" ng-model="$ctrl.member.idnumber" />
                                 <br>
                            <button ng-click="$ctrl.findProfile()" class="btn btn-info"> Find Member </button>
                             </div>
                            <br>
             
                 <br>
                <div class="text-dark  p-1">
                 <p class="lead text-dark ">Full Names</p>
                 <input type="text" class="form-control" ng-model="$ctrl.member.fullnames" />
                 </div>
                 <br>
        
              
                 <div class="text-dark  p-1">
                 <p class="lead text-dark">Surname</p>
                 <input type="text" class="form-control" ng-model="$ctrl.member.lastname" />
                 </div>
                 <br>
                 
                
                
                 
                 <div class="text-dark  p-1">
                 <p class="lead text-dark">Contact</p>
                 <input type="text" placeholder="+27" class="form-control" ng-model="$ctrl.member.contact" />
                 </div>
                 <br>
 
                 <div class="text-dark  p-1">
                     <p class="lead font-weight-bold">New Application</p>
                     <select class="form-control" ng-model="$ctrl.member.application" >
                         <option>New</option>
                         <option>Lost Forms/Database</option>
                         <option>Demand Database</option>
                         <option>Subsidy Approvals</option>
                         <option>Form C</option>
                     </select>
                     </div>
                 <br>
                 
                 <button class="btn btn-lg btn-default my-2" ng-click="$ctrl.cancel();"> Cancel</button>
                 <button class="btn btn-lg btn-success my-2" ng-click="$ctrl.update();"> Update Profile</button>
           
 </div>
        </div>
    </form>  
 </div>