<div class="container p-3 bg-light shadow-sm border">
   <form>
       <div class="display-4 font-weight-bold">Register Member</div>
       <p class="text-dark lead ">
           Register new community member to member housing database.
       </p>
       <div class="row p-2">
           <div class="col-md-6 bg-dark">
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Reference Number</p>
                <input required ng-model="$ctrl.member.refNumber" type="text" class="form-control" placeholder="Ref No.:" />
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Title</p>
                <select class="form-control" ng-model="$ctrl.member.title" required>
                    <option>Mr</option>
                    <option>Miss</option>
                    <option>Mrs</option>
                    <option>Dr</option>
                    <option>Prof</option>
                </select>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Full Names</p>
                <input type="text" class="form-control" ng-model="$ctrl.member.fullNames" required/>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Race</p>
                <select class="form-control" ng-model="$ctrl.member.race" required>
                    <option>African</option>
                    <option>Coloured</option>
                    <option>Indian</option>
                    <option>White</option>
                    <option>Asian</option>
                </select>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Nationality</p>
                <input type="text" class="form-control" ng-model="$ctrl.member.nationality" required/>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white ">Province</p>
                <select class="form-control" ng-model="$ctrl.member.province" required>
                    <option>
                        Eastern Cape    </option>
                    <option>
                        Free State    </option>
                    <option>
                        Gauteng    </option>
                    <option >
                        Kwazulu-Natal    </option>
                    <option >
                        Limpopo    </option>
                    <option>
                        Mpumalanga    </option>
                    <option >
                        North-West    </option>
                    <option>
                        Northern Cape    </option>
                    <option>
                        Western Cape    </option>
                    <option>
                        _INTERNATIONAL    </option> 
                </select>
                </div>
            </div>
           <div class="col-md-6 bg-dark">
                <div class="text-white bg-dark p-2">
                <p class="lead text-white">Surname</p>
                <input type="text" class="form-control" ng-model="$ctrl.member.surname" required/>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white">RSA ID Number</p>
                <input type="text" class="form-control" ng-model="$ctrl.member.idNumber" required/>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white">Gender</p>
                <select class="form-control" ng-model="$ctrl.member.gender" required>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white">Marital Status</p>
                <select class="form-control" ng-model="$ctrl.member.maritalStatus" required>
                    <option>Single</option>
                    <option>Married</option>
                    <option>Widowed</option>
                    <option>Divorced</option>
                    <option>Separated</option>
                </select>
                </div>
                <br>
                <div class="text-white bg-dark p-2">
                        <p class="lead text-white">Spouse Full Names* (If married)</p>
                        <input type="text" class="form-control" ng-model="$ctrl.member.spouse"/>
                    </div>
                <br>
                <div class="text-white bg-dark p-2">
                <p class="lead text-white">Contact</p>
                <input type="text" placeholder="+27" class="form-control" ng-model="$ctrl.member.contact" required/>
                </div>
                <br>

                <button class="btn btn-lg btn-danger my-2" ng-click="$ctrl.cancel();"> Cancel</button>
                <button class="btn btn-lg btn-success my-2" ng-click="$ctrl.saveRecord();"> Save Record</button>
           </div>
       </div>
   </form>    
</div>