<form>
    <div class="display-4 border-bottom my-2">Register User</div>
    
    <div class="row bg-light my-4">
        <div class="col-md-6 p-2">
                <p class="lead">ID Number</p>
                <input type="number" class="form-control text-lg" placeholder="Identity Number" ng-model="$ctrl.idNumber" required/>
                <br>
                <p class="lead">First Name</p>
                <input type="text" class="form-control text-lg" placeholder="Firstname" ng-model="$ctrl.firstName" required/>
        </div>
        <div class="col-md-6 p-2">
                <p class="lead">Last Name</p>
                <input type="text" class="form-control text-lg" placeholder="Lastname" ng-model="$ctrl.lastName" required/>
                <br>
                 

              
        </div>
    </div>
     
    <button class="btn btn-lg btn-secondary my-5" ng-click="$ctrl.save();">SAVE</button>
</form>